 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Graduate of General Assembly's first <a href = "https://youtu.be/JHagBCh0p3g" style="color:white">Android Development Immersive</a>, co-created with Google. </p>
                </div>
                <div class="col-lg-4">
                    <p>MSc in Mechanical Engineering with over 6 years of experience in semiconductor manufacturing.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Dancer, entertainer, instructor, and event coordinator at <a href = "http://www.souljerzcrew.com" style="color:white">SoulJerz Dance Entertainment, LLC.</a> </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/chris-shum/chris-shum.github.io/raw/master/chris_shum_resume.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
